{% extends "base.html" %}
{% block content %}
<h1>Welcome to {{ HOSPITAL_NAME }} </h1>

<p>
  At {{ HOSPITAL_NAME }}, we are  dedicated to providing best available healthcare
  with a personal touch. Our focus is to combine our service with
  modern technology thus to improve the wellbeing of every patient we serve.
</p>

<h3>Our Main Services</h3>
<ul>
  <li><strong>Patient Records:</strong> View and manage patient information.</li>
  <li><strong>Doctor & Staff Access:</strong> Registered users can log in to update records and provide care efficiently.</li>
</ul>

{% endblock %}
